<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
<h1>Welcome to Home Page</h1>

<form th:action="@{/home}" method="get">
  <label>Search: <input type="text" name="title" /></label>
  <button type="submit">Search</button>
</form>

<div th:each="product : ${products}">
  <p th:text="${product.title}"></p>
  <p th:text="${product.description}"></p>
  <p th:text="${product.price}"></p>
  <a th:href="@{'/product-details/' + ${product.id}}">Details</a>

</div>

<a th:href="@{/add}">Add New Product</a>

</body>
</html>
